!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || site_name
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => site_name, :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    %link{:href => feed_path, :rel => "alternate", :type => "application/atom+xml", :title => "#{site_name} Blog Feed"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap", :rel => "stylesheet"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = stylesheet_link_tag "lexxy"
    = javascript_importmap_tags
  %body{"data-controller" => "scroll"}
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm
      .container
        = link_to site_name, root_path, class: "navbar-brand fw-bold"
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.me-auto
            - if has_menu_items?
              - main_menu_items.each do |menu_item|
                %li.nav-item
                  = link_to menu_item[:name], menu_item[:path], class: "nav-link #{'active' if request.path == menu_item[:path]}"
            - else
              %li.nav-item
                = link_to "Posts", posts_path, class: "nav-link #{'active' if controller_name == 'posts'}"
          %ul.navbar-nav
            %li.nav-item
              = link_to search_path, class: "nav-link", "aria-label" => "Search" do
                %i.bi.bi-search


    = yield(:hero_section)
    
    %main{class: content_for?(:hero_section) ? "mt-0" : "container my-4"}
      - if content_for?(:hero_section)
        .container.mt-4
      - if notice
        .alert.alert-success.alert-dismissible.fade.show{"role" => "alert"}
          = notice
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      - if alert
        .alert.alert-danger.alert-dismissible.fade.show{"role" => "alert"}
          = alert
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      
      = yield
      
      - if content_for?(:hero_section)
        .container

    %footer.bg-light.border-top.mt-5
      .container.py-4
        .row
          .col-md-6
            %h5= site_name
            %p.text-muted= site_description
          .col-md-6.text-md-end
            %p.text-muted.mb-2= footer_text
            .text-end
              - if Current.user
                = link_to "Sign Out", session_path, data: { turbo_method: :delete }, class: "btn btn-outline-secondary btn-sm"
              - else
                = link_to "Sign In", new_session_path, class: "btn btn-outline-primary btn-sm"
