!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) ? "#{content_for(:title)} - #{site_name} Admin" : "#{site_name} Admin"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap", :rel => "stylesheet"}/
    = stylesheet_link_tag "lexxy"
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-light
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.shadow-sm
      .container-fluid
        = link_to "#{site_name} Admin", manage_root_path, class: "navbar-brand fw-bold"
        .navbar-nav.ms-auto
          = link_to "View Site", root_path, class: "nav-link text-light", target: "_blank"
          
          .nav-item.dropdown
            %a.nav-link.dropdown-toggle.text-light{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.bi.bi-person-circle.me-1
              = Current.user.email_address.split('@').first.capitalize
            %ul.dropdown-menu.dropdown-menu-end
              %li
                = link_to manage_profile_path, class: "dropdown-item" do
                  %i.bi.bi-person.me-2
                  Profile
              %li
                = link_to manage_mfa_path, class: "dropdown-item" do
                  %i.bi.bi-shield-check.me-2
                  Two-Factor Auth
              %li
                %hr.dropdown-divider
              %li
                = link_to session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" do
                  %i.bi.bi-box-arrow-right.me-2
                  Sign Out

    .container-fluid
      .row
        %nav.col-md-3.col-lg-2.d-md-block.bg-white.sidebar.border-end.shadow-sm{style: "min-height: calc(100vh - 56px);"}
          .position-sticky.pt-3
            %ul.nav.flex-column
              %li.nav-item
                = link_to manage_root_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'gutter_press'}" do
                  %i.bi.bi-speedometer2.me-2
                  Dashboard
              %li.nav-item
                = link_to manage_posts_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'posts'}" do
                  %i.bi.bi-file-text.me-2
                  Posts
              %li.nav-item
                = link_to manage_pages_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'pages'}" do
                  %i.bi.bi-file-earmark-text.me-2
                  Pages
              %li.nav-item
                = link_to manage_menu_items_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'menu_items'}" do
                  %i.bi.bi-list.me-2
                  Menu
              
              %hr.my-3
              
              %li.nav-item
                = link_to manage_profile_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'profiles'}" do
                  %i.bi.bi-person-circle.me-2
                  Profile
              %li.nav-item
                = link_to manage_mfa_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'mfa'}" do
                  %i.bi.bi-shield-check.me-2
                  Two-Factor Auth
              %li.nav-item
                = link_to manage_site_settings_path, class: "nav-link d-flex align-items-center #{'active' if controller_name == 'site_settings'}" do
                  %i.bi.bi-gear.me-2
                  Site Settings
        
        %main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
          - if notice
            .alert.alert-success.alert-dismissible.fade.show.mt-3{"role" => "alert"}
              = notice
              %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
          - if alert
            .alert.alert-danger.alert-dismissible.fade.show.mt-3{"role" => "alert"}
              = alert
              %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
          
          .py-4
            = yield
